.guide {
  font-size: 1.2rem;
  border: 1px solid black;
  position: absolute;
  right: 5px;
  box-shadow: 2px 4px;
}

.diagram-content {
  background-color: lightblue;
  height: 153px;
}

.diagram-row {
  height: 75px;
}

.diagram {
  width: 75px;
  height: 75px;
  background-color: white;
}

.diagram-heading {
  background-color: lightgrey;
}
/* Static */
.diagram-block {
  background-image: url("../../images/still-lifes/block.png");
  background-size: cover;
}

.diagram-boat {
  background-image: url("../../images/still-lifes/boat.png");
  background-size: cover;
}

.diagram-beehive {
  background-image: url("../../images/still-lifes/beehive.png");
  background-size: cover;
}

.diagram-loaf {
  background-image: url("../../images/still-lifes/loaf.png");
  background-size: cover;
}
/* Oscillators */
.diagram-beacon {
  background-image: url("../../images/oscillators/beacon.gif");
  background-size: cover;
}

.diagram-blinker {
  background-image: url("../../images/oscillators/blinker.gif");
  background-size: cover;
}

.diagram-penta-decathlon {
  background-image: url("../../images/oscillators/penta-decathlon.gif");
  background-size: cover;
}

.diagram-pulsar {
  background-image: url("../../images/oscillators/pulsar.gif");
  background-size: cover;
}

.diagram-toad {
  background-image: url("../../images/oscillators/toad.gif");
  background-size: cover;
}
/* Spaceships */
.diagram-glider {
  background-image: url("../../images/spaceships/glider.gif");
  background-size: cover;
}

.diagram-light-weight-spaceship {
  background-image: url("../../images/spaceships/light-weight-spaceship.gif");
  background-size: cover;
}

.diagram-middle-weight-spaceship {
  background-image: url("../../images/spaceships/middle-weight-spaceship.gif");
  background-size: cover;
}

.diagram-heavy-weight-spaceship {
  background-image: url("../../images/spaceships/heavy-weight-spaceship.gif");
  background-size: cover;
}

.diagram-toad {
  background-image: url("../../images/oscillators/toad.gif");
  background-size: cover;
}