.tabs {
  background-color: white;
}

.tab-content {

}

li {
  flex: 1;
}

.tab-list {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  border: 1px solid lightgrey;
  margin-bottom: -1px;
  padding: 0.5rem 0;
}

.tab-list-active {
  background-color: $secondary-light;
  border: solid black;
  border-width: .5px .5px 0 .5px;
}