html {
  font-size: 62.5%;
}

.start {
  background-color: green;
  color: white;
  font-weight: 700;
}

.stop {
  background-color: red;
  color: white;
  font-weight: 700;
}

button {
  width: 8rem;
  height: 2.5rem;
  margin: 1rem;
}

button:focus {
  outline: none;
}